*, body, head, {
    padding:0px;
    font-size: 10px;
}

body {
    background-color: yellow ;
}
.fake {
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 60%;
}

.parent {
    margin: auto;
    margin-bottom: 1rem;
    width: fit-content;
}

.input  {
    display: inline;
    margin: auto; 
}
.text {
    display: inline;
    margin: auto; 
}

.son{
    margin: auto;
}

.myImage {
    margin:auto;
}

#submit {
    display: block;
    margin: auto;
}